node_modules/
dist/
.env
.env.*
!.env.example
credentials.json
.wwebjs_auth/
.wwebjs_cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
/backlog.md
/catalog.json
/settings.json
.baileys_auth/
.agent/agent_runner.db
/src/generated/prisma
.claude/*
!.claude/skills

# Archivos dinámicos de Tenants (Caché, Configuración y Sesiones)
cache/
sessions/
