node_modules/
dist/
*.env
credentials.json
.wwebjs_auth/
.wwebjs_cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
/backlog.md
/catalog.json
/settings.json
.baileys_auth/
.agents/
/src/generated/prisma

# Archivos dinámicos de Tenants (Caché, Configuración y Sesiones)
cache/
sessions/
